@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');

$Marine-blue: hsl(213, 96%, 18%);
$Purplish-blue: hsl(243, 100%, 62%);
$Pastel-blue: hsl(228, 100%, 84%);
$Light-blue: hsl(206, 94%, 87%);
$Strawberry-red: hsl(354, 84%, 57%);
$Cool-gray: hsl(231, 11%, 63%);
$Light-gray: hsl(229, 24%, 87%);
$Magnolia: hsl(217, 100%, 97%);
$Alabaster: hsl(231, 100%, 99%);
$White: hsl(0, 0%, 100%);


.ubuntu-regular {
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .ubuntu-medium {
    font-family: "Ubuntu", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .ubuntu-bold {
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
}

main {
    height: 100vh;
    width: 100vw;
    background-color: $Magnolia;
    display: flex;
    align-items: center;
    justify-content: center;

    .app {
        width: 900px;
        height: 600px;
        background-color: white;
        border-radius: 20px;
        padding: 20px 0 20px 20px;
        display: flex;
   

        .side-bar {
          height: 100%;
          width: 31%;
          background-image: url('src/images/bg-sidebar-desktop.svg');
          background-size: cover;
          background-repeat: no-repeat;
          border-radius: 10px;
          padding: 25px;

          .step {
            display: flex;
            align-items: center;
            gap: 15px;
            margin-bottom: 20px;

            a {
              all: unset;
              height: 25px;
              width: 25px;
              display: flex;
              align-items: center;
              justify-content: center;
              border: 1px solid white;
              border-radius: 100px;
              color: white;
              font-size: 13px;
              font-weight: 700;


              &:hover {
                cursor: pointer;
              }

              &.active {
                background-color: $Light-blue;
                color: black;
              }
            }

            .step-text {
              .step-number {
                font-size: 13px;
                color: $Light-gray;
              }
              .step-headline {
                color: white;
                font-weight: 500;
                font-size: 14px;
              }
            }
          }
        }

        .content {
          width: 69%;
          display: flex;
          align-items: center;
          justify-content: center;

          .page-container {
            width: 80%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            h1 {
              color: $Marine-blue;
              font-weight: 700;
              margin-top: 30px;
            }

            .h1-desc {
              color: $Cool-gray;
              font-size: 14px;
              margin-top: -38px;
            }

            .labels {
              width: 100%;
              display: flex;
              align-items: center;
              justify-content: space-between;
              margin-bottom: -38px;

              .label {
                color: $Marine-blue;
                font-size: 14px;
                font-weight: 700;
              }

              .error {
                color: $Strawberry-red;
                font-size: 14px;
                font-weight: 700;
                visibility: hidden;

                &.show-error {
                  visibility: visible;
                }
              }
            }

            input {
              all: unset;
              height: 45px;
              border-radius: 10px;
              border: 2px solid $Light-gray;
              padding-left: 15px;
              font-weight: 500;
              color: $Marine-blue;
              font-size: 17px;

              &::placeholder {
                font-weight: 500;
                color: $Cool-gray;
              }

              &:hover {
                cursor: pointer;
              }

              &:focus {
                border: 2px solid $Purplish-blue;
              }

              &.show-error {
              border: 2px solid $Strawberry-red;

              }
            }
            input::-webkit-outer-spin-button,
            input::-webkit-inner-spin-button {
              -webkit-appearance: none;
              margin: 0;
            }

            .buttons-cont {
              display: flex;
              align-items: center;
              justify-content: space-between;
              margin-bottom: 20px;

              a {
                all: unset;
              }

              &.step-one {
                justify-content: end;
              }

              .next {
                all: unset;
                height: 50px;
                width: 120px;
                border-radius: 10px;
                color: white;
                background-color: $Marine-blue;
                text-align: center;

                &:hover {
                  cursor: pointer;
                }

                &:active {
                  filter: opacity(80%);
                }
              }
            }
          }
        }
    }
}